@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #ED8FDD;
    height: 80px;
    display: flex;
}

.header-title{
    height: 60%;
    width: 100%;
    font-size: 40px;
}

.header-subtitle{
    height: 40%;
    width: 100%;
}